extends layout

block content
  .module
    h2.module-legend New User Details
    include mixins/forms
    form(action='/admin/add_user', method='POST')
      +csrf
      +formErrors(form)
      .row
        .span3
          +field(form, 'firstName')(class='span3')
        .span3
          +field(form, 'lastName')(class='span3')
      +field(form, 'email')
      +field(form, 'username')
      label
        +widget(form, 'isAdmin')
        |  Admin privileges
      .form-actions
        button.btn.btn-primary(type='submit') Add User
        | 
        a.btn(href='/admin/users') Cancel