extends add_contact

block contact_type
  type = 'organisation'

append management_forms
  != peopleFormSet.managementForm().asP()

block contact_fields
  .module
    h2.module-legend Organisation
    +field(organisationForm, 'name')

  .module
    h2.module-legend People
    table.table.table-condensed
      thead
        tr
          th First Name
          th Last Name
          th Job Title
          th Email
          th Mobile Phone
          th Direct Phone
      tbody
        for form in peopleFormSet.forms
          tr
            td: +widget(form, 'firstName')(class='input-small')
            td: +widget(form, 'lastName')(class='input-small')
            td: +widget(form, 'jobTitle')(class='input-small')
            td: +widget(form, 'email')(class='input-small')
            td: +widget(form, 'mobilePhone')(class='input-small')
            td: +widget(form, 'directPhone')(class='input-small')
    p
      a(href='#') <i class="icon-plus"></i> add another person