extends add_contact

block contact_type
  type = 'organisation'

append management_forms
  != peopleFormSet.managementForm().asP()

block contact_fields
  .module
    h2.module-legend Organisation
    +field(organisationForm, 'name')

  .module
    h2.module-legend People
    table.empty-form
      tbody(id='#{peopleFormSet.prefix}EmptyForm')
        emptyForm = peopleFormSet.emptyForm()
        +inlinePersonForm(emptyForm)
    table.table.table-condensed
      thead
        tr
          th First Name
          th Last Name
          th Job Title
          th Email
          th Mobile Phone
          th Direct Phone
      tbody(id='#{peopleFormSet.prefix}Forms')
        for form in peopleFormSet.forms
          +inlinePersonForm(form)
    p
      a(id='#{peopleFormSet.prefix}AddAnother') <i class="icon-plus"></i> add another person

append scripts
  script
    // Set up 'add another' controls for organisation contact details
    addAnother('#{peopleFormSet.prefix}', form)