extends layout

block content
  include mixins/tasks
  h1 Dashboard
  .row-fluid
    .span4.dashboard-tasks
      h2.pull-left Your Tasks
      a.pull-right(href='/tasks/add') <i class="icon-plus"></i> Add Task
      .clearfix
      if (overdue.length)
        h3
          | Overdue 
          span.badge.badge-important= overdue.length
        table.table.table-condensed.table-borderless
          col(width='1%')
          tbody
            for task in overdue
              +taskRow(task)
      if (upcoming.length)
        h3
          | Next 7 Days 
          span.badge= upcoming.length
        table.table.table-condensed.table-borderless
          col(width='1%')
          tbody
            for task in upcoming
              +taskRow(task)
    .span8
      .module
        h2.module-legend Latest Updates