/* Fieldset-style outline and header. */

.module {
  border: 1px solid #ddd;
  margin-bottom: 1.5em;
  position: relative;
  padding: 16px 12px 6px 12px;
}
.module-legend {
  font-size: 18px;
  position: absolute;
  top: -9px;
  left: 4px;
  background-color: #fff;
  margin: 0;
  padding: 0 5px;
  line-height: 18px;
}
.module :first-child {
  margin-top: 0;
}

/* Light tables for sidebars */

.table-borderless {
  margin-bottom: 0;
}
.table-borderless td {
  border-top: none;
}

/* Contact history */

.history-item {
  padding-left: 2em;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.history-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.history-item .icon {
  position: absolute;
  top: 0;
  left: 0;
}

/* Calendar */

.table-calendar td {
  height: 100px;
  width: 14.28%;
}
.table-calendar td.today {
  background-color: #efefef;
}
.table-calendar div.day {
  font-weight: bold;
  text-align: right;
}
.table-calendar div.different-month {
  color: #999;
}

/* Contact listings */

a.contact {
  font-weight: bold;
}

/* Allow error styling by applying .error to the field itself. */

.checkbox.error,
.radio.error,
input.error,
select.error,
textarea.error {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.checkbox.error:focus,
.radio.error:focus,
input.error:focus,
select.error:focus,
textarea.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}