mixin csrf
  div
    input(type='hidden', name='_csrf', value=csrfToken)
    block

mixin formErrors(form)
  errors = form.nonFieldErrors().errors
  for error in errors
    .alert.alert-error= error

mixin field(form, name)
  field = form.boundField(name)
  errors = field.errors().errors
  errorClass = errors.length ? 'error' : ''
  .control-group(class=errorClass)
    != field.labelTag()
    .controls
      != field.asWidget({attrs: attributes})
      block
      for error in errors
        span.help-inline= error

mixin widget(form, name)
  field = form.boundField(name)
  errors = field.errors().errors
  if (errors.length)
    - attributes['class'] += ' error'
    - attributes['rel'] = 'popover'
    - attributes['data-content'] = errors.join('; ')
  != field.asWidget({attrs: attributes})